@use '@angular/material' as mat;

.library-card {
  margin-bottom: 8px;
  @include mat.elevation(2);
}

.library-viewport {
  height: 480px;
}

.library-icon {
  border-radius: 0 !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
}
