<mat-card cdkDrag>
  <app-gadget-header
    [title]="title"
    [subtitle]="subtitle"
    [iconpath]="icon"
    (removeEvent)="remove()"
    [inConfig]="inConfig"
    [gadgetInstanceId]="instanceId"
    [gadgetPropertyPages]="propertyPages"
    [gadgetTags]="tags"
    [propertyChangeCallback]="propertyChangeEvent.bind(this)"
    (toggleConfigModeEvent)="toggleConfigMode()">
  </app-gadget-header>

  <mat-card-content class="chart-content">
    <ngx-charts-number-card
      [scheme]="colorScheme"
      [results]="chartData"
      [cardColor]="chartCardColor"
      [bandColor]="chartBandColor"
      [textColor]="chartTextColor">
    </ngx-charts-number-card>
  </mat-card-content>
</mat-card>
