<mat-card appearance="outlined" [cdkDragDisabled]="inConfig" cdkDrag>
  <app-gadget-header
    [title]="title"
    [subtitle]="subtitle"
    [iconpath]="icon"
    (removeEvent)="remove()"
    [inConfig]="inConfig"
    (toggleConfigModeEvent)="toggleConfigMode()"
    >
  </app-gadget-header>

  @if (!inConfig) {
    <mat-card-content class="chart-content">
      <ngx-charts-bar-vertical
        [roundEdges]="chartRoundEdges"
        [scheme]="colorScheme"
        [results]="footballstats"
        [xAxisLabel]="chartXAxisLabel"
        [legendTitle]="chartLegendTitle"
        [yAxisLabel]="chartYAxisLabel"
        [legend]="chartLegend"
        [showXAxisLabel]="chartShowXAxisLabel"
        [showYAxisLabel]="chartShowYAxisLabel"
        [xAxis]="chartShowXAxis"
        [yAxis]="chartShowYAxis"
        [gradient]="chartGradient"
        [showDataLabel]="chartShowDataLabel"
        >
      </ngx-charts-bar-vertical>
    </mat-card-content>
  }
  @if (inConfig) {
    <mat-card-content>
      <app-dynamic-form
        [gadgetTags]="tags"
        [propertyPages]="propertyPages"
        [instanceId]="instanceId"
        [tabIndex]="0"
        (updatePropertiesEvent)="propertyChangeEvent($event)"
        >
      </app-dynamic-form>
    </mat-card-content>
  }
</mat-card>
