:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-header,
mat-card-title,
mat-icon,
mat-card-content {
    display: flex;
    justify-content: center;
}

mat-card {
    min-width: 500px;
}

mat-icon {
    font-size: 100px;
    margin-bottom: 100px;
    color: lightgray;
}

mat-card-title {
    font-size: 30px;
    line-height: 70px;
    display: flex;
    justify-content: center;
    color: #3f51b5;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}