<p>
    <mat-toolbar>
        <span>Packaging Line Manager</span>
    </mat-toolbar>
</p>
<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="toggleMenu()">menu</mat-icon>
    </button>
        <span>Packaging Lines</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="openConfigDialog()" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>settings</mat-icon>
    </button>
        <button mat-icon-button (click)="openGadgetLibraryDialog()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>playlist_add</mat-icon>
    </button>
        <button mat-icon-button (click)="toggleLayout()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>dashboard</mat-icon>
    </button>
    </mat-toolbar>
</p>