<mat-card [cdkDragDisabled]="inConfig" cdkDrag>
  <app-gadget-header
    [title]="title"
    [subtitle]="subtitle"
    [iconpath]="icon"
    (removeEvent)="remove()"
    [inConfig]="inConfig"
    (toggleConfigModeEvent)="toggleConfigMode()"
  >
  </app-gadget-header>

  <mat-card-content  *ngIf="!inConfig">
  

    <h4>Line Lead</h4>
    <mat-form-field appearance="fill">
      <mat-label>Select a Line Lead</mat-label>
      <mat-select>
        <mat-option value="Carolina">Carolina</mat-option>
        <mat-option value="Soccorro">Soccorro</mat-option>
        <mat-option value="Dora">Dora</mat-option>
        <mat-option value="Sandra">Sandra</mat-option>
        <mat-option value="Aturo">Aturo</mat-option>
        <mat-option value="Laura">Laura</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter Text</mat-label>
      <input matInput placeholder="M Value" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter Text</mat-label>
      <input matInput placeholder="Value" value="">
    </mat-form-field>
    
    
    <h4>Break</h4>
    <mat-form-field appearance="fill">   
    <mat-label>Select a Break</mat-label>
    <mat-select>
      <mat-option value="Break 1">Break 1</mat-option>
      <mat-option value="Break 2">Break 2</mat-option>
      <mat-option value="Break 3">Break 3</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Select A Person On Break</mat-label>
    <mat-select>
      <mat-option value="Augustin">Augustin</mat-option>
      <mat-option value="Germain">Germain</mat-option>
      <mat-option value="J Manuel">J Manuel</mat-option>
    </mat-select>
  </mat-form-field>

  </mat-card-content>

  <mat-card-content *ngIf="inConfig">
    <app-dynamic-form
      [gadgetTags]="tags"
      [propertyPages]="propertyPages"
      [instanceId]="instanceId"
      [tabIndex]="isMissingPropertyValue() ? 1 : 0"
      (updatePropertiesEvent)="propertyChangeEvent($event)"
    >
    </app-dynamic-form>
  </mat-card-content>
</mat-card>
