<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tab-table">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{element.date}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <!-- Tools Column -->
    <ng-container matColumnDef="tools">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <mat-toolbar>
                <button mat-icon-button (click)="addData()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>mode_edit</mat-icon>
        </button>
                <button mat-icon-button (click)="removeData()" class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>delete_forever</mat-icon>
        </button>
            </mat-toolbar>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>
<br>
<h3>Define a new product</h3>
<div class="example-container">
    <form [formGroup]="options">

        <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value" [floatLabel]="floatLabelControl.value">
            <mat-label>Enter a name</mat-label>
            <input matInput placeholder="Enter a name" required>
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
            <mat-label>Enter a description</mat-label>
            <input matInput placeholder="Enter description">
        </mat-form-field>

        &nbsp;&nbsp;
        <button mat-mini-fab color="primary" (click)="addData()" class="tab-button">
          <mat-icon>add</mat-icon>
        </button>

        <!--
        <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value" [floatLabel]="floatLabelControl.value">
            <mat-select required>
                <mat-option>-- None --</mat-option>
                <mat-option value="option">Option</mat-option>
            </mat-select>
            <mat-label>
                <mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
        </mat-form-field>
      -->
    </form>
