<div [formGroup]="form">
  <div class="field">
    <div [ngSwitch]="property.controlType">
      <mat-form-field *ngSwitchCase="'textbox'" appearance="fill">
        <mat-label [attr.for]="property.key">{{ property.label }}</mat-label>
        <input [formControlName]="property.key" [type]="property.controlType" matInput value="{{ property.value }}"
          required="{{ property.required }}" />
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'hidden'" appearance="fill">
        <input [formControlName]="property.key" matInput type=hidden />
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'number'" appearance="fill">
        <mat-label [attr.for]="property.key">{{ property.label }}</mat-label>
        <input [formControlName]="property.key" [type]="property.controlType" matInput value="{{ property.value }}"
          required="{{ property.required }}" />
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'dropdown'" appearance="fill">
        <mat-label [attr.for]="property.key">{{ property.label }}</mat-label>
        <select [id]="property.key" [formControlName]="property.key" matNativeControl>
          <option *ngFor="let opt of property.options" [value]="opt.key">{{opt.value}}</option>
        </select>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'dropdown-ms'" appearance="fill">
        <mat-label [attr.for]="property.key">{{ property.label }}</mat-label>
        <mat-select [id]="property.key" [formControlName]="property.key" matNativeControl multiple>
          <mat-option *ngFor="let opt of property.options" [value]="opt.key">{{opt.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngSwitchCase="'upload'" appearance="fill">
        <div class="upload-icon">
          <mat-icon> cloud_upload </mat-icon>
        </div>
        <div class="main-text">
          Drag Photos Here or
          <app-file-upload (fileUploadEvent)="updateFileList($event)"></app-file-upload>
          <input [formControlName]="property.key" [type]="property.controlType" matInput value="{{ property.value }}"
            required="{{ property.required }}" style="font-size: 10px" />
        </div>
      </div>

      <div *ngSwitchCase="'date'" apperance="fill">
        <mat-form-field appearance="fill">
          <mat-label [attr.for]="property.key">{{ property.label }}</mat-label>
          <input [formControlName]="property.key" required="{{ property.required }}" matInput
             value="{{property.value}}"  [matDatepicker]="picker" />
            <mat-hint>MMMM DD, YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngSwitchCase="'textarea'" apperance="fill">
        <mat-form-field class="full_width" appearance="fill">
          <mat-label [attr.for]="property.key">{{ property.label }}</mat-label>
          <textarea rows="10"  [formControlName]="property.key" required="{{ property.required }}" matInput
             value="{{property.value}}"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>