<form [formGroup]="form">
  <mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="setSelected($event)">
    <mat-tab *ngFor="let page of propertyPages; let r = index" label="{{ page.displayName }}">
      <div class="gridContainer">
        <div *ngFor="let property of page.properties" class="form-row">
          <app-df-property [property]="property" [form]="form" [gadgetTags]="gadgetTags">
          </app-df-property>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <button mat-raised-button color="primary" (click)="saveForm()" [disabled]="!form.valid || !form.dirty">
    Save
  </button>
</form>
<br /><br />

<div *ngIf="showMessage" [@showHideAnimation] class="form-row-message">
  <div>Saved!</div>
</div>