<form [formGroup]="form">
  <mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="setSelected($event)" (selectedTabChange)="onTabChange($event)">
    @for (page of propertyPages; track page; let r = $index) {
      <mat-tab label="{{ page.displayName }}">
        <div class="gridContainer">
          @for (property of page.properties; track property) {
            <div class="form-row" [class.full-width-row]="property.controlType === 'ace-editor' || property.controlType === 'json-forms' || property.controlType === 'markdown' || property.controlType === 'textarea' || property.controlType === 'upload' || property.controlType === 'section'">
              <app-df-property [property]="property" [form]="form" [gadgetTags]="gadgetTags">
              </app-df-property>
            </div>
          }
        </div>
      </mat-tab>
    }
  </mat-tab-group>
  <div class="form-actions">
    <button mat-raised-button color="primary" (click)="saveForm()" [disabled]="!form.valid || !form.dirty">
      Save
    </button>
  </div>
</form>

@if (showMessage) {
  <div [@showHideAnimation] class="form-row-message">
    <div>Saved!</div>
  </div>
}