.upload-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img-grid {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.main-text {
  font-size: 24px;
  color: gray;
  text-align: center;
  line-height: 35px;
}

.upload-icon {
  text-align: center;
}

.sub-text {
  font-size: 18px;
  color: green;
  text-align: center;
}

.mat-icon {
  font-size: 150px;
  height: 150px;
  width: 150px;
  color: green;
}
.form-row-message {
  display: grid;
  width: 100%;
  background-color: rgb(203, 240, 227);
  align-content: center;
  justify-content: center;
  border-radius: 5%;
  line-height: 40px;
  font: 20px;
  color: rgb(68, 66, 66);
}

.gridContainer{
  padding:5px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr


}
.full_width{
  width:100%
}
