.tab-table {
    width: 100%;
}

.tab-button-container {
    padding-bottom: 16px;
    float: right;
}

.tab-button+.demo-button {
    margin-left: 8px;
}

.example-container .mat-mdc-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-container .mat-mdc-form-field {
    width: 220px;
}

.example-container form {
    margin-bottom: 20px;
}

.example-container form>* {
    margin: 5px 0;
}
a{
    text-decoration: underline;
    cursor: pointer;
  }

  .clear{
    color:steelblue;
  }
  