<mat-card appearance="outlined" [cdkDragDisabled]="inConfig" cdkDrag>
  <app-gadget-header
    [title]="title"
    [subtitle]="subtitle"
    [iconpath]="icon"
    (removeEvent)="remove()"
    [inConfig]="inConfig"
    (toggleConfigModeEvent)="toggleConfigMode()"
  >
  </app-gadget-header>
  <mat-card-content *ngIf="!inConfig">
    <div class="subsection">
      <mat-chip-listbox class="example-chip">
        <mat-chip-option selected color="primary" class="example-box">
          Team Lead: {{ teamLead }}
        </mat-chip-option>
        <mat-chip-option selected color="primary" class="example-box">
          Job Number: {{ jobNumber }}
        </mat-chip-option>
        <mat-chip-option selected color="primary" class="example-box">
          Date: {{ date }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <br />
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef>Hours</th>
        <td mat-cell *matCellDef="let element">{{ element.hours }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef>Goals</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="number-form-field">
            <input
              matInput
              type="number"
              placeholder="Goal"
              [value]="element.goal"
              [(ngModel)]="element.goal"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="actual">
        <th mat-header-cell *matHeaderCellDef>Actual</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="number-form-field">
            <input
              matInput
              type="number"
              placeholder="Actual"
              [value]="element.actual"
              [(ngModel)]="element.actual"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Comments</th>
        <mat-cell *matCellDef="let element">
          <mat-form-field >
            <input
              matInput
              placeholder="Comments"
              [value]="element.comments"
              [(ngModel)]="element.comments"
            />
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>

  <mat-card-content *ngIf="inConfig" class="grid">
    <app-dynamic-form
      [gadgetTags]="tags"
      [propertyPages]="propertyPages"
      [instanceId]="instanceId"
      (updatePropertiesEvent)="propertyChangeEvent($event)"
    >
    </app-dynamic-form>
  </mat-card-content>
</mat-card>
