<p>rbac works!</p>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>User</mat-label>
      <input matInput placeholder="Ex. Connie" value="Connie">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
        <mat-label>Roles</mat-label>
        <mat-select [formControl]="roles" multiple>
          <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;&nbsp;
    <button mat-mini-fab color="primary"  class="tab-button">
      <mat-icon>add</mat-icon>
    </button>
  </form>