<mat-card appearance="outlined" class="card" [cdkDragDisabled]="inConfig" cdkDrag>
  <app-gadget-header [title]="title" [subtitle]="subtitle" [iconpath]="icon" (removeEvent)="remove()"
    [inConfig]="inConfig" (toggleConfigModeEvent)="toggleConfigMode()">
  </app-gadget-header>
  @if (!inConfig) {
    <mat-card-content>
      <div cdkDropListGroup class="grid">
        @for (list of imageLists; track list; let listIndex = $index) {
          <div>
            <div cdkDropList [id]="getIndexAsString(listIndex)" [cdkDropListData]="list.imageNames"
          (cdkDropListDropped)="drop($event)" [ngClass]="
            list.imageNames.length == 0 ? 'empty-column-placeholder' : ''
          ">
              @for (item of list.imageNames; track item) {
                <div cdkDrag>
                  <img src="{{ apihost }}{{ api }}/{{ item }}" class="img-grid move-cursor" />
                </div>
              }
            </div>
          </div>
        }
      </div>
    </mat-card-content>
  }
  @if (inConfig) {
    <mat-card-content class="upload-grid">
      <app-dynamic-form [gadgetTags]="tags" [propertyPages]="propertyPages" [instanceId]="instanceId"
        [tabIndex]="0" (updatePropertiesEvent)="propertyChangeEvent($event)">
      </app-dynamic-form>
    </mat-card-content>
  }
</mat-card>