<mat-card class="card" cdkDrag>
    <app-gadget-header [title]="title" [subtitle]="subtitle" [iconpath]="icon" (removeEvent)="remove()" (toggleConfigModeEvent)="toggleConfigMode()">
    </app-gadget-header>
    <mat-card-content *ngIf="!inConfig">
        <div cdkDropListGroup class="grid">
            <div *ngFor="let columnData of gadgetData; let columnIndex = index">
                <div cdkDropList [id]="getColumnIndexAsString(columnIndex)" [cdkDropListData]="columnData.gadgetNames" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let item of columnData.gadgetNames;let gadgetIndex = index" cdkDrag>
                        <img src="assets/images/{{ item }}.png" class="img-grid" />
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="inConfig" class="upload-grid">
        <app-dynamic-form *ngIf="inConfig" [gadgetTags]="tags" [propertyPages]="propertyPages" [instanceId]="instanceId" (updatePropertiesEvent)="updateProperties($event)">
        </app-dynamic-form>
    </mat-card-content>
</mat-card>