
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content {
    margin-top: 5px;
}

.img-grid {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.upload-icon {
    text-align: center;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-title {
    color: #3f51b5;
}

.card {
    margin-bottom: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    place-content: center;
    grid-gap: 15px;
}

.empty-column-placeholder {
    border-color: rgb(202, 153, 248);
    border-width: 2px;
    border-style: dashed;
    background-color: rgb(233, 227, 227);
    min-height: 300px;
}

.cdk-drop-list-dragging,
.cdk-drop-list-receiving {
    border-color: blueviolet;
    border-width: 2px;
    border-style: dashed;
    background-color: rgb(201, 196, 196);
}

.move-cursor {
    cursor: move;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}