mat-card-content.display {
    min-height: 50px;
    width: 100%;
    display: grid;
    justify-content: center;
}

mat-card {
    margin-bottom: 10px;
}

.notification{
    text-align: center;
}

.text{
    padding: 3px;
    margin: 3px;
}