.board-header {
    margin: 35px;
}

mat-tab-group {
    margin-left: 50px;
    margin-right: 50px;
}

mat-card-title {
    color: #3f51b5;
}

.grid-B {
    display: grid;
    grid-template-columns: 75%;
    row-gap: 25px;
    column-gap: 25px;
    justify-content: center;
    margin: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.grid-A {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 25px;
    column-gap: 25px;
    justify-content: center;
    margin: 40px;
}

.empty-column-placeholder {
    border-color: rgb(202, 153, 248);
    border-width: 2px;
    border-style: dashed;
    background-color: rgb(233, 227, 227);
    min-height: 50vh;
}

.grid-instruction {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 25px;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 25px 150px 0 150px;
}

.board-instruction {
    min-height: 400px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 1;
}

.cdk-drop-list-dragging,
.cdk-drop-list-receiving {
    border-color: blueviolet;
    border-width: 2px;
    border-style: dashed;
    background-color: rgb(201, 196, 196);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}