.board-header {
    margin: 35px;
}

mat-card-title {
    color: #3f51b5;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 25px;
    column-gap: 25px;
    justify-content: center;
    margin: 40px;
}

.grid-dropzone {
    border-style: dashed;
    border-color: lightgray;
    border-width: 4px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    min-height: 400px;
    padding-left: 300px;
    padding-right: 300px;
}

button {
    height: 100px;
    font-size: larger;
}

.grid-instruction {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 25px;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 25px 150px 0 150px;
}

.board-instruction {
    min-height: 400px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}