<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-selection-list #boardList [multiple]="false">
            <mat-list-option *ngFor="let board of boardData" [value]="board.id" (click)="showBoard(boardList)">
                {{ board.title }}
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <mat-drawer #layout mode="side" position="end">
        <div class="grid-layout">
            <h2>Board Layouts</h2>
            <img src="/assets/images/layout/one-narrow.png" (click)="changeMenu('one_col')">
            <img src="/assets/images/layout/two-even.png" (click)="changeMenu('two_col_equal')">
        </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <app-board></app-board>
    </div>
</mat-drawer-container>