<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      @for (board of boardData; track board) {
        <mat-list-item
          [class.active]="board.id === selectedBoardId"
          (click)="selectBoard(board.id)">
          {{ board.title }}
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer #layout class="layout-drawer" mode="side" position="end">
    <app-sidelayout></app-sidelayout>
  </mat-drawer>

  <mat-drawer-container class="config-panel-container">
    <mat-drawer #configPanel mode="over" position="end" (closed)="onConfigPanelClosed()">
      <app-config-panel></app-config-panel>
    </mat-drawer>

    <div class="example-sidenav-content">
      <app-board></app-board>
    </div>
  </mat-drawer-container>
</mat-drawer-container>
