<mat-drawer-container class="example-container" autosize>
  @if (boardData.length > 0) {
    @if (navState === 'hidden') {
    <button
      type="button"
      mat-icon-button
      class="nav-edge-toggle nav-reveal"
      (click)="expandNav()"
      matTooltip="Show menu"
      matTooltipPosition="right"
      aria-label="Show board menu">
      <mat-icon>chevron_right</mat-icon>
    </button>
    } @else {
      <button
        type="button"
        mat-icon-button
        class="nav-edge-toggle nav-collapse"
        [style.left.px]="navRailWidthPx"
        (click)="collapseNav()"
        matTooltip="Collapse menu"
        matTooltipPosition="right"
        aria-label="Collapse board menu">
        <mat-icon>chevron_left</mat-icon>
      </button>
    }
  }

  @if (boardData.length > 0) {
    <mat-drawer
    #drawer
    class="example-sidenav"
    [class.collapsed]="navState === 'icon'"
    [class.hidden]="navState === 'hidden'"
    mode="side"
    [opened]="true"
    (transitionend)="onNavRailTransitionEnd($event)">
    <mat-nav-list>
      @for (board of boardData; track board) {
        <mat-list-item
          [class.active]="board.id === selectedBoardId"
          [matTooltip]="board.title"
          [matTooltipDisabled]="navExpanded"
          matTooltipPosition="right"
          (click)="selectBoard(board.id)">
          <mat-icon matListItemIcon>{{ board.icon || 'dashboard' }}</mat-icon>
          @if (navExpanded) {
            {{ board.title }}
          }
        </mat-list-item>
      }
    </mat-nav-list>
    </mat-drawer>
  }

  <mat-drawer #layout class="layout-drawer" mode="side" position="end" (openedChange)="onPushDrawerAnimationDone()">
    <app-sidelayout></app-sidelayout>
  </mat-drawer>

  <mat-drawer-container class="config-panel-container">
    <mat-drawer #configPanel mode="over" position="end" (closed)="onConfigPanelClosed()">
      <app-config-panel></app-config-panel>
    </mat-drawer>

    <mat-drawer-container class="library-panel-container">
      <mat-drawer #library mode="over" position="end">
        <app-library></app-library>
      </mat-drawer>

      <mat-drawer-container class="help-panel-container">
        <mat-drawer #helpPanel mode="over" position="end">
          <app-help-panel></app-help-panel>
        </mat-drawer>

        <mat-drawer-container class="agent-panel-container">
          <mat-drawer #agentPanel mode="over" position="end">
            <app-agent-panel></app-agent-panel>
          </mat-drawer>

          <div class="example-sidenav-content">
            <app-board></app-board>
          </div>
        </mat-drawer-container>
      </mat-drawer-container>
    </mat-drawer-container>
  </mat-drawer-container>
</mat-drawer-container>
