.example-container {
    width: 100%;
    height: 100%;
}

.example-sidenav-content {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.example-sidenav {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}