<mat-card-header class="move-cursor">
  @if (!locked) {
    <mat-icon mat-card-avatar class="gadget-icon">{{ displayIcon }}</mat-icon>
  }
  @if (!locked) {
    <mat-card-title>{{ title }}</mat-card-title>
  }
  @if (!locked) {
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  }
  <!--<mat-card-subtitle>{{description}}</mat-card-subtitle>-->
    <button
      mat-icon-button
      class="help-button"
      [class.help-button-only]="locked"
      matTooltip="Help"
      aria-label="Help"
      (click)="openHelp()"
      >
      <mat-icon>help_outline</mat-icon>
    </button>
    @if (!locked) {
      <button
        mat-icon-button
        class="configure-button"
        [matTooltip]="menuLabel"
        [attr.aria-label]="menuLabel"
        (click)="toggleConfigMode()"
        >
        <mat-icon>settings</mat-icon>
      </button>
    }
    @if (!locked) {
      <button
        mat-icon-button
        class="remove-button"
        matTooltip="Remove"
        aria-label="Remove"
        (click)="remove()"
        >
        <mat-icon>delete</mat-icon>
      </button>
    }
  </mat-card-header>
@if (inConfig) {
  <div class="config-mode-indicator">Configuration Mode</div>
}
